<a type='submit' class='view-note btn-floating btn-small waves-effect waves-light btn modal-trigger right' data-id='{{this._id}}' href='#notes-modal'>
    <i class='material-icons'>create</i>
</a>
        