<form action="/save/{{this._id}}?_method=PUT" method="POST">
    <input type="hidden" name="saved" value="1">
    <button class='btn-floating btn-small waves-effect waves-light right'
        state='{{this.saved}}' data-id='{{this._id}}'><i class='material-icons'>add</i>
    </button>
        
</form>

