
<form action="/save/{{this._id}}?_method=PUT" method="POST">
    <button class='btn-floating btn-small waves-effect waves-light right red' 
        state='{{this.saved}}' data-id='{{this._id}}'>
        <i class='material-icons'>remove</i>
    </button>

</form>